<div class="mt-8 mb-8 container mx-auto">
  <!-- page1 -->
  <div class="intro">
    <h2 class="hi">Hi</h2>
    <h1 class="hi victor">
      <span class="im">i'm</span> <span class="text-blue-500">Victor.</span>
    </h1>
    <div class="mt-6 cat-spin">
      <img
        src="https://icons8.com/l/animations/images/Spinning_cat.gif"
        alt="cat-spin"
      />
    </div>
    <p class="mt-4">View in desktop for better experience</p>
    <div class="mt-12 mouse"></div>
  </div>

  <!-- projects -->
  <div class="mt-12 flex flex-col items-center">
    <h2 class="mb-8 mt-8 text-3xl md:text-5xl text-green-500">Projects</h2>
    <div class="flex flex-col items-center gap-8">
      <!-- googlexfundoo -->
      <div class="graycolor flex items-center">
        <img
          class="googlelogo"
          src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
          alt=""
        />
        <span style="white-space: pre" class="text-6xl md:text-8xl"> X </span>
        <span
          style="font-family: 'Yellowtail', cursive"
          class="text-5xl lg:text-6xl md:text-6xl sm:text-5xl text-blue-700"
          >Fundoo.</span
        >
      </div>
      <!-- <div>
        <a
          class="underline hover:text-blue-500 text-sm"
          href="https://github.com/victorsingha/Fundoo"
          >Fundoo Application</a
        >
      </div> -->

      <!-- pickitup -->
      <div class="graycolor flex flex-col items-center">
        <p class="text-6xl lg:text-8xl md:text-6xl" style="color: #9a2087">
          Pickitup
        </p>
        <p class="text-xl lg:text-4xl md:text-2xl text-gray-700">
          a delivery app
        </p>
      </div>
      <!-- <div>
        <a
          class="underline hover:text-blue-500 text-sm"
          href="https://github.com/victorsingha/deli-android"
          >User</a
        >
        <a
          class="underline hover:text-blue-500 text-sm"
          href="https://github.com/victorsingha/deli-dr-android"
          >Driver</a
        >
      </div> -->
      <img
        class="graycolor screenshots"
        src="https://camo.githubusercontent.com/2f39b988d7b4653da96a21d743006cc63c5caad6513e410c30b13ddb10419d9b/68747470733a2f2f747261646974696f6e616c69737469632d72752e303030776562686f73746170702e636f6d2f7069636b2e6a7067"
        alt=""
        height="400px"
        width="400px"
      />

      <!-- employeepayroll -->
      <div class="graycolor flex flex-col items-center justify-center">
        <p
          class="text-6xl lg:text-8xl md:text-6xl"
          style="color: #82a70c; text-align: center"
        >
          Employee Payroll
        </p>
        <p class="text-xl lg:text-4xl md:text-2xl text-gray-700">
          payroll management system
        </p>
      </div>
      <!-- <div>
        <a
          class="underline hover:text-blue-500 text-sm"
          href="https://github.com/victorsingha/Employee-Payroll-App"
          >Github</a
        >
      </div> -->
      <img
        class="graycolor screenshots"
        src="https://raw.githubusercontent.com/victorsingha/Employee-Payroll-App/main/screenshots/dashboard.jpg"
        alt=""
      />

      <!-- bookstore  -->
      <div class="graycolor flex flex-col items-center">
        <p class="text-6xl lg:text-8xl md:text-6xl" style="color: #9f3037">
          Bookstore
        </p>
        <p class="text-xl lg:text-4xl md:text-2xl text-gray-700">
          online bookstore system
        </p>
      </div>
      <img
        class="graycolor screenshots"
        src="https://raw.githubusercontent.com/victorsingha/SERVER/main/portfolio/assets/wishlist%201wishlistm.png"
        alt=""
      />

      <!-- addressbook  -->
      <div class="graycolor flex flex-col items-center">
        <p class="text-5xl lg:text-8xl md:text-6xl text-green-500">
          Addressbook
        </p>
        <p class="text-xl lg:text-4xl md:text-2xl text-gray-700">
          contacts console app
        </p>
      </div>

      <!-- yourbill  -->
      <div class="graycolor flex flex-col items-center">
        <img
          class="graycolor"
          src="https://raw.githubusercontent.com/victorsingha/yourBill/main/assets/company.JPG"
          alt=""
        />
      </div>

      <!-- connect.io  -->
      <div class="graycolor flex flex-col items-center">
        <p class="text-6xl lg:text-8xl md:text-6xl text-blue-200">connect.io</p>
        <p class="text-xl lg:text-4xl md:text-2xl text-gray-700">chat system</p>
      </div>

      <!-- tictactoe  -->
      <div class="graycolor flex flex-col items-center">
        <p class="text-6xl lg:text-8xl md:text-6xl">
          <span>tic</span>
          <span>tac</span>
          <span>toe</span>
        </p>
        <p class="text-xl lg:text-4xl md:text-2xl text-gray-700">
          2 players game
        </p>
      </div>
    </div>
  </div>

  <!-- pagePartners -->
  <div class="mt-12 flex flex-col items-center">
    <h2 class="mb-8 mt-12 text-5xl">Partners</h2>
    <div class="flex flex-wrap justify-center gap-8">
      <img
        class="graycolor"
        *ngFor="let item of partnersLogoList"
        src="{{ item.src }}"
        alt=""
      />
    </div>
  </div>
</div>

<!-- footer  -->

<footer class="text-gray-600 body-font">
  <div class="bg-gray-100">
    <div
      class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
    >
      <p class="text-gray-500 text-sm text-center sm:text-left">
        © 2021 Portfolio
        <a
          href="https://www.linkedin.com/in/victor-singha-48b479148/"
          rel="noopener noreferrer"
          class="text-gray-600 ml-1"
          target="_blank"
          >@victor</a
        >
      </p>
      <span
        class="
          inline-flex
          sm:ml-auto sm:mt-0
          mt-2
          justify-center
          sm:justify-start
        "
      >
        <a class="text-gray-500">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path
              d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg
            fill="currentColor"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="0"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
            ></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
