@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

.hi {
  font-family: "Inter", sans-serif;
  font-size: 5em;
  line-height: 1em;
  color: #4b5563;
}
.victor {
  font-size: 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.intro {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cat-spin {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 680px) {
  .hi {
    // margin-top: 40px;
    font-size: 3em;
    line-height: 1em;
  }
  .im {
    font-size: 3em !important;
    opacity: 10%;
  }
  .victor {
    font-size: 5em;
    flex-direction: column;
    align-items: center;
  }
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 65px;
  }
}
