<div class="mt-8 container mx-auto">
  <!-- page1 -->
  <div class="intro">
    <h2 class="hi">Hi</h2>
    <h1 class="hi victor">
      <span class="im">i'm</span> <span class="text-blue-500">Victor.</span>
    </h1>
    <div class="mt-6 cat-spin">
      <img
        src="https://icons8.com/l/animations/images/Spinning_cat.gif"
        alt="cat-spin"
      />
    </div>
    <button
      (click)="openProjects()"
      href="/projects"
      class="
        mt-6
        buttobg-white
        hover:bg-gray-100
        text-gray-800
        font-semibold
        py-2
        px-4
        rounded-full
        shadow
      "
    >
      projects
    </button>
    <div class="mt-12 mouse"></div>
  </div>

  <!-- page2 -->
  <div class="mt-12 flex flex-col items-center">
    <h2 class="text-3xl">Partners</h2>
  </div>
</div>
